USE [master]
GO
/****** Object:  Database [OOP]    Script Date: 21.2.2021 14:44:57 ******/
CREATE DATABASE [OOP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OOP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\OOP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OOP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\OOP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OOP]
GO
/****** Object:  Table [dbo].[TBLKULUP]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKULUP](
	[KULUPID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KULUPAD] [varchar](20) NULL,
 CONSTRAINT [PK_TBLKULUP] PRIMARY KEY CLUSTERED 
(
	[KULUPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLNOTLAR]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLNOTLAR](
	[OGRID] [smallint] NOT NULL,
	[SINAV1] [smallint] NULL,
	[SINAV2] [smallint] NULL,
	[SINAV3] [smallint] NULL,
	[PROJE] [smallint] NULL,
	[ORTALAMA] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBLNOTLAR] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLOGRENCI]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLOGRENCI](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](20) NULL,
	[FOTOGRAF] [varchar](50) NULL,
	[KULUPID] [tinyint] NULL,
 CONSTRAINT [PK_TBLOGRENCI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_SINAV1]  DEFAULT ((0)) FOR [SINAV1]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_SINAV2]  DEFAULT ((0)) FOR [SINAV2]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_SINAV3]  DEFAULT ((0)) FOR [SINAV3]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_PROJE]  DEFAULT ((0)) FOR [PROJE]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_ORTALAMA]  DEFAULT ((0)) FOR [ORTALAMA]
GO
ALTER TABLE [dbo].[TBLNOTLAR] ADD  CONSTRAINT [DF_TBLNOTLAR_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[TBLNOTLAR]  WITH CHECK ADD  CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCI] FOREIGN KEY([OGRID])
REFERENCES [dbo].[TBLOGRENCI] ([ID])
GO
ALTER TABLE [dbo].[TBLNOTLAR] CHECK CONSTRAINT [FK_TBLNOTLAR_TBLOGRENCI]
GO
ALTER TABLE [dbo].[TBLOGRENCI]  WITH CHECK ADD  CONSTRAINT [FK_TBLOGRENCI_TBLKULUP1] FOREIGN KEY([KULUPID])
REFERENCES [dbo].[TBLKULUP] ([KULUPID])
GO
ALTER TABLE [dbo].[TBLOGRENCI] CHECK CONSTRAINT [FK_TBLOGRENCI_TBLKULUP1]
GO
/****** Object:  StoredProcedure [dbo].[KULUPEKLE]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROCEDURE OGRENCILISTESI	
--AS 
--SELECT * FROM TBLOGRENCI

--CREATE PROCEDURE OGRENCIEKLE 
--@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT 
--AS 
--INSERT INTO TBLOGRENCI(AD,SOYAD,FOTOGRAF,KULUPID) 
--VALUES
--(@AD,@SOYAD,@FOTOGRAF,@KULUPID)

--CREATE PROCEDURE OGRENCIGUNCELLE 
--@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT, @ID INT
--AS 
--UPDATE TBLOGRENCI SET AD=@AD, SOYAD=@SOYAD, FOTOGRAF=@FOTOGRAF, KULUPID= @KULUPID 
--WHERE ID=@ID

--CREATE PROCEDURE OGRENCISIL 
--@ID INT
--AS
--DELETE FROM TBLOGRENCI WHERE ID=@ID

--CREATE PROCEDURE KULUPLISTESI
--AS
--SELECT * FROM TBLKULUP

CREATE PROCEDURE [dbo].[KULUPEKLE]
@KULUPAD VARCHAR(20)
AS
INSERT INTO TBLKULUP VALUES (@KULUPAD)
GO
/****** Object:  StoredProcedure [dbo].[KULUPGUNCELLE]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROCEDURE OGRENCILISTESI	
--AS 
--SELECT * FROM TBLOGRENCI

--CREATE PROCEDURE OGRENCIEKLE 
--@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT 
--AS 
--INSERT INTO TBLOGRENCI(AD,SOYAD,FOTOGRAF,KULUPID) 
--VALUES
--(@AD,@SOYAD,@FOTOGRAF,@KULUPID)

--CREATE PROCEDURE OGRENCIGUNCELLE 
--@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT, @ID INT
--AS 
--UPDATE TBLOGRENCI SET AD=@AD, SOYAD=@SOYAD, FOTOGRAF=@FOTOGRAF, KULUPID= @KULUPID 
--WHERE ID=@ID

--CREATE PROCEDURE OGRENCISIL 
--@ID INT
--AS
--DELETE FROM TBLOGRENCI WHERE ID=@ID

--CREATE PROCEDURE KULUPLISTESI
--AS
--SELECT * FROM TBLKULUP

--CREATE PROCEDURE KULUPEKLE
--@KULUPAD VARCHAR(20)
--AS
--INSERT INTO TBLKULUP VALUES (@KULUPAD)

CREATE PROCEDURE [dbo].[KULUPGUNCELLE]
@KULUPID TINYINT,
@KULUPAD VARCHAR(20)
AS
UPDATE TBLKULUP SET KULUPAD=@KULUPAD WHERE KULUPID=@KULUPID

GO
/****** Object:  StoredProcedure [dbo].[KULUPLISTESI]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROCEDURE OGRENCILISTESI	
--AS 
--SELECT * FROM TBLOGRENCI

--CREATE PROCEDURE OGRENCIEKLE 
--@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT 
--AS 
--INSERT INTO TBLOGRENCI(AD,SOYAD,FOTOGRAF,KULUPID) 
--VALUES
--(@AD,@SOYAD,@FOTOGRAF,@KULUPID)

--CREATE PROCEDURE OGRENCIGUNCELLE 
--@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT, @ID INT
--AS 
--UPDATE TBLOGRENCI SET AD=@AD, SOYAD=@SOYAD, FOTOGRAF=@FOTOGRAF, KULUPID= @KULUPID 
--WHERE ID=@ID

--CREATE PROCEDURE OGRENCISIL 
--@ID INT
--AS
--DELETE FROM TBLOGRENCI WHERE ID=@ID

CREATE PROCEDURE [dbo].[KULUPLISTESI]
AS
SELECT * FROM TBLKULUP
GO
/****** Object:  StoredProcedure [dbo].[KULUPSIL]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROCEDURE OGRENCILISTESI	
--AS 
--SELECT * FROM TBLOGRENCI

--CREATE PROCEDURE OGRENCIEKLE 
--@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT 
--AS 
--INSERT INTO TBLOGRENCI(AD,SOYAD,FOTOGRAF,KULUPID) 
--VALUES
--(@AD,@SOYAD,@FOTOGRAF,@KULUPID)

--CREATE PROCEDURE OGRENCIGUNCELLE 
--@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT, @ID INT
--AS 
--UPDATE TBLOGRENCI SET AD=@AD, SOYAD=@SOYAD, FOTOGRAF=@FOTOGRAF, KULUPID= @KULUPID 
--WHERE ID=@ID

--CREATE PROCEDURE OGRENCISIL 
--@ID INT
--AS
--DELETE FROM TBLOGRENCI WHERE ID=@ID

--CREATE PROCEDURE KULUPLISTESI
--AS
--SELECT * FROM TBLKULUP

--CREATE PROCEDURE KULUPEKLE
--@KULUPAD VARCHAR(20)
--AS
--INSERT INTO TBLKULUP VALUES (@KULUPAD)

--CREATE PROCEDURE KULUPGUNCELLE
--@KULUPID TINYINT,
--@KULUPAD VARCHAR(20)
--AS
--UPDATE TBLKULUP SET KULUPAD=@KULUPAD WHERE KULUPID=@KULUPID

CREATE PROCEDURE [dbo].[KULUPSIL]
@KULUPID TINYINT
AS
DELETE FROM TBLKULUP WHERE KULUPID=@KULUPID
GO
/****** Object:  StoredProcedure [dbo].[NOTGUNCELLE]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[NOTGUNCELLE]
@OGRID SMALLINT,
@SINAV1 SMALLINT,
@SINAV2 SMALLINT,
@SINAV3 SMALLINT,
@PROJE SMALLINT,
@ORTALAMA DECIMAL(18,2),
@DURUM BIT
AS
UPDATE TBLNOTLAR SET SINAV1=@SINAV1,
					 SINAV2=@SINAV2,
					 SINAV3=@SINAV3,
					 PROJE=@PROJE,
					 ORTALAMA=@ORTALAMA,
					 DURUM=@DURUM
					 WHERE OGRID=@OGRID
GO
/****** Object:  StoredProcedure [dbo].[NOTLISTESI]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NOTLISTESI]
AS
SELECT OGRID,AD,SOYAD,SINAV1,SINAV2,SINAV3,PROJE,ORTALAMA,DURUM 
FROM TBLNOTLAR INNER JOIN TBLOGRENCI ON TBLOGRENCI.ID=TBLNOTLAR.OGRID
GO
/****** Object:  StoredProcedure [dbo].[OGRENCIEKLE]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROCEDURE OGRENCILISTESI	
--AS 
--SELECT * FROM TBLOGRENCI

CREATE PROCEDURE [dbo].[OGRENCIEKLE] 
@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT 
AS 
INSERT INTO TBLOGRENCI(AD,SOYAD,FOTOGRAF,KULUPID) 
VALUES
(@AD,@SOYAD,@FOTOGRAF,@KULUPID)
GO
/****** Object:  StoredProcedure [dbo].[OGRENCIGUNCELLE]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROCEDURE OGRENCILISTESI	
--AS 
--SELECT * FROM TBLOGRENCI

--CREATE PROCEDURE OGRENCIEKLE 
--@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT 
--AS 
--INSERT INTO TBLOGRENCI(AD,SOYAD,FOTOGRAF,KULUPID) 
--VALUES
--(@AD,@SOYAD,@FOTOGRAF,@KULUPID)

CREATE PROCEDURE [dbo].[OGRENCIGUNCELLE] 
@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT, @ID INT
AS 
UPDATE TBLOGRENCI SET AD=@AD, SOYAD=@SOYAD, FOTOGRAF=@FOTOGRAF, KULUPID= @KULUPID WHERE ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[OGRENCILISTESI]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OGRENCILISTESI]	
AS 
SELECT * FROM TBLOGRENCI
GO
/****** Object:  StoredProcedure [dbo].[OGRENCISIL]    Script Date: 21.2.2021 14:44:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROCEDURE OGRENCILISTESI	
--AS 
--SELECT * FROM TBLOGRENCI

--CREATE PROCEDURE OGRENCIEKLE 
--@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT 
--AS 
--INSERT INTO TBLOGRENCI(AD,SOYAD,FOTOGRAF,KULUPID) 
--VALUES
--(@AD,@SOYAD,@FOTOGRAF,@KULUPID)

--CREATE PROCEDURE OGRENCIGUNCELLE 
--@AD VARCHAR(20), @SOYAD VARCHAR(20), @FOTOGRAF VARCHAR(50), @KULUPID SMALLINT, @ID INT
--AS 
--UPDATE TBLOGRENCI SET AD=@AD, SOYAD=@SOYAD, FOTOGRAF=@FOTOGRAF, KULUPID= @KULUPID 
--WHERE ID=@ID

CREATE PROCEDURE [dbo].[OGRENCISIL] 
@ID INT
AS
DELETE FROM TBLOGRENCI WHERE ID=@ID
GO
USE [master]
GO
